@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap');

.animated-headline {
  font-family: 'Assistant', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #c0946a;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #c0946a;
  width: 0;
  animation: typingLoop 5s steps(44) infinite;
  animation-delay: 0.5s; /* השהיה לפני תחילת האנימציה */
}

@keyframes typingLoop {
  0%   { width: 0 }
  40%  { width: 100% }
  60%  { width: 100% }
  100% { width: 0 }
}
